$font-family-headings = KaiTi,"Microsoft YaHei",Georgia, sans
$font-family-base = SimHei, Verdana, sans-serif
$code-font-family = "Input Mono", "PT Mono", Consolas, Monaco, Menlo, monospace 
$font-size-base = 20px 
$code-font-size = 16px 